.banner {
  width: 100%;
  padding: 12px;
  background-color: #2675de;
  min-height: 480px;
}

.contentContainer {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

.tagline {
  font-weight: 400;
}

.ctaContainer {
  margin-top: 35px;
}

.ctaContainer button:not(:last-child) {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .ctaContainer button {
    width: 100%;
  }

  .ctaContainer button:not(:last-child) {
    margin-bottom: 10px;
  }
}

.disclaimerText {
  margin-top: 40px;
  font-size: 12px;
  text-decoration: underline;
}
