button {
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  background-color: black;
  border: 2px solid transparent;
  padding: 17px 48px;
  border-radius: 500px;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid white;
}
